*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;

}

.container{
    padding: 1.5em 1em;
}

/* styling the top navbar */
.topnav{
    background-color: rgb(243, 12, 51);
    overflow: hidden;    
    font-size: 1em;    
    top: 0%;
    /* height: 13vh;  */
}

.topnav a{
    float: left;
    display: block;
    text-align: center;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 1em 2em;
}


.topnav a.icon{
    display: none;
}


/* adding hover effect to the top navbar */
.topnav a:hover{
    color: #000;
    transition: color 300ms ease-in-out;
    -webkit-transition: color 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out;
    -ms-transition: color 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out;
}



/* adding mobile responsiveness to top navbar */
@media screen and (max-width: 480px){
    .topnav a:not(:last-child){
        display: none;
    }

    .topnav a.icon{
        float: right;
        display: block;
        
    }


@media screen and (max-width: 480px){
    .topnav .responsive{
        position: relative;
        
    }

    .topnav.responsive a.icon{
        position: absolute;
        right: 0;
        top: 0;

    }

    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }

    
    }
}




/* styling the banner section */
.banner{
    width: 100%;
    height: 60vh;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 3em 0em;    
    font-size: 1.5em;

}

.banner .banner-title{
    font-family: 'Times New Roman', Times, serif, 'Roboto';
    width: 40%;
    margin: 3em 0em;
    animation-name: fly-in;
    animation-duration: 400ms;
    animation-timing-function: ease;
    animation-fill-mode: both;
    
}

.banner-title button{
    width: 10vw;
    height: 5vh;
    font-size: .7em;
    background-color: yellow;
    animation: scale-center 9s ease-in both 3 alternate-reverse;
    -webkit-animation: scale-center 300ms 3s ease-in both 1 alternate;
    opacity: 0;
}


/* styling the banner image */
.banner .banner-image{
    width: 25vw;
    height: 40vh;
    animation-name: image-fly;    
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.banner .banner-image img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}


/* styling the modal box */
.hire-modal .modal-content #cancelBtn{
    color: orange;
    float: right;
}


.hire-modal{ 
    display: none;
    position: fixed;
    z-index: 1;
    top: 0%;
    width: 100%;
    height: 100%;    
    overflow: auto;
    
}

.hire-modal .modal-content{
    height: 55vh;
    width: 25%;
    margin: 10% auto;    
    background: rgb(35, 33, 32);
    padding: .4em 1em;
}

.hire-modal .modal-contentt #cancelBtn{
    float: right;

}


#user-style{
    margin-top: 2em;
    margin-left: .5em;
    position: absolute;
    color: #000;
}

#fname{
    width: 20vw;
    padding: 1em 3em;
    margin-top: 3em;
}

#description{
    width: 20vw;
    margin: 2em 0em;
    padding: 1em ;
    
}

#submit{
    padding: .5em 1em;
    font-weight: bolder;
    background-color: yellow;
    border: none;
}

#submit:hover{
    cursor: pointer;
}



/* animating the banner text */
@keyframes fly-in {
    from{
        transform: translateX(100px);
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        -webkit-transition: 10s;
        -moz-transition: 10s;
        -ms-transition: 10s;
        -o-transition: 10s;
}

    to{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
    
}

@keyframes image-fly {
    from{
        transform: translateX(2000px);
        transition-delay: 10s;
        -webkit-transform: translateX(2000px);
        -moz-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        -o-transform: translateX(2000px);
}
    to{
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
    
}


@keyframes scale-center {
    0%{
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        opacity: 0;
}

    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        opacity: 1;
}
    
}


/* making banner text responsive */
@media only screen and (max-device-width: 480px){
    .banner{
        height: 45vh;
        padding: 1em;
        
    }
    .banner .banner-title{
        width: 40vw;
        font-size: .6em;
        
    }

    .banner .banner-image{
        width: 40vw;
        height: 15vh;
        margin: 2em 1em;
    }

    .banner-title button{
        width: 15vw;
    }

}


@media screen and (max-device-width:768px) {
    .banner{
        height: 45vh;
        padding: 1em;
        
    }
    .banner .banner-title{
        width: 40vw;
        font-size: .6em;
        
    }

    .banner .banner-image{
        width: 30vw;
        height: 15vh;
        margin: 2em 1em;
    }

    .banner .banner-image img{
        width: 100%;
        height:20vh;
        object-fit: cover;
        object-position: center;
    }

    .banner-title button{
        width: 15vw;
        
    }

}


/* the about service section */
.about-service{
    margin: 5em 2em;
    display: flex;
    flex-direction: column;    
    
    
}

.about-service h2{
    font-family: 'Roboto';
}


.about-service h2:first-child::after{
    content: '';
    background-color: rgb(243, 12, 51);
    padding: .1em 2em;
    position: absolute;
    margin-top: 1em;
    margin-left: -4em; 

}


/* service rendered content section */
.about-service .service-container{
    display: flex;
    margin-top: 4em;
    justify-content: space-between;
    flex-wrap: wrap;
    
    overflow: hidden;
}

.about-service .service-image{
    width: 40vw;   
    height: 60vh;
    
}


.about-service .service-image img{
    width: 100%;   
    height: 100%;
    
}

.about-service .service h3{
    text-transform: capitalize;
    font-size: 2em;
    margin-bottom: 1em;
    
}

.about-service .service{
    width: 50vw;
    padding: 2em 5em;
}

.about-service .service p{
    margin-top: .4em;
    font-size: 1.1em;
}


/* making about service responsive */
@media screen and (max-device-width:480px){
    .about-service{
        display: block;
        margin: 2em 0em;
    }
    .about-service .service-image{
        height: 35vh;
        width: 100%;
    }

    .about-service .service{
        padding: 0em;
        margin-top: 1.5em;
        width: 100%;
        overflow: hidden;        
    }

    .about-service .service h3{
        font-size: 1.5em;
    }

    
    
}



@media screen and (max-device-width:1000px) {
    .about-service{
        display: block;
        margin: 2em 0em;
    }
    .about-service .service-image{
        height: 35vh;
        width: 100%;
    }

    .about-service .service{
        padding: 0em;
        margin-top: 1.5em;
        width: 100%;
        overflow: hidden;        
    }

    .about-service .service h3{
        font-size: 1.5em;
    }

    
    
}




/* project section styling */
.project{
    color: #fff;
    margin-top: 2em;
    padding: 2em;
    width: 100%;
    background-color: #000;
    
}



.project .project-container{
    display: flex;
    margin: 3em 0em;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.project-container .pink-box, .black-box{
    width: 22vw;
    height: 45vh;
    margin: 1em 0em;
    text-align: center;
    line-height: 2em;
    padding: 2em;
}

.project-container .pink-box{
    background-color: rgb(243, 12, 51);
    
}

.project-container .black-box{
    background-color: #fff;
    color: #000;
}


/* mobile resposive for services rendered */
@media screen and (max-device-width:480px) {
    .project .container .project-container{
        display: block;
    }

    .project .project-container .pink-box, .project-container .black-box{
        width: 100%;
        height: 35vh;
        overflow: hidden;
        font-size: .9em;
        padding: 1em;
    }

}


@media screen and (max-device-width:768px) {
    .project .container .project-container{
        display: block;     
        
    }
    .project .container .project-container .pink-box, .project-container .black-box{
        width: 100%;
        height: 35vh;
        font-size: .9em;
        padding: 1em;
        
    }
    
    
}



@media screen and (max-device-width:1024px) {
    .project .project-container{
        display: block;
    }

    .project-container .pink-box, .black-box{
        width: 100%;
        height: 40vh;
        font-size: .9em;
        padding: 1em;
    }
    
    
}

@media screen and (max-device-width:1200px) { 
    .project .project-container{
        display: flex;
        flex-wrap: wrap;
    }
    .project-container .pink-box, .black-box{
        width: 40vw;
        

    }
    
}


/* styling the skill section */
.skill{
    height: 50vh;
    padding: 3em 1em;
    overflow: hidden;
    width: 100%;
    
}



@keyframes animeTitle {
    0%{
        transform: translateX(-25px);
        -webkit-transform: translateX(-25px);
        -moz-transform: translateX(-25px);
        -ms-transform: translateX(-25px);
        -o-transform: translateX(-25px);
        opacity: 0;
}

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1;
}
    
}
.progress{
    margin: 2em 0em;    
    display: flex;   
    justify-content: space-between;
    animation-name: animeTitle;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}


.mini-skill {
    width: 20vw;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* animation: animeTitle; */
    
}

.container h1::after{
    content: '';
    background-color: rgb(243, 12, 51);
    position: absolute;
    padding: .1em;
    margin-top: 1em;
    margin-left: -1.4em;
    width: 2vw;
}

#python, #html, #css, #js{
    height: 30px;
    border-top-right-radius: 1pc;
    border-bottom-right-radius: 1pc;
    width: 10vw;
    padding: .3em 1em;
    margin-left: 1em;
    
}

#python{
    background-color: rgba(224, 240, 6, 0.781);
}


#html{
    background-color: rgba(115, 240, 6, 0.781);
}


#css{
    background-color: rgba(6, 240, 174, 0.781);
}


#js{
    background-color: rgba(6, 119, 240, 0.781);
}



/* making skill responsive */
@media screen and (max-device-width:480px) {
    .progress{
        display: block;
    }

    .mini-skill{
        margin-top: 2em;
        width: 100%;
    }

    .mini-skill h2{
        font-size: .8em;
    }

    .container h1::after{
        margin-left: .4em;
    }    
}



@media screen and (max-device-width:768px) {
    .progress{
        display: block;
    }

    .mini-skill{
        margin-top: 2em;
        width: 100%;
    }

    .mini-skill h2{
        font-size: .8em;
    }

    .container h1::after{
        margin-left: .4em;
    }    
}




/* stying the project section area */
.project_section{
    overflow: hidden;
    padding: 0em 2em;

}


.project_section h2{
    background-color: rgb(243, 12, 51);
    width: 10vw;
    overflow: hidden;
    text-align: center;
    padding: .2em;
    color: #fff;
}



.project-box-container{
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    
}

.project-box{
    width: 28vw;
    height: 40vh;
    
    overflow: hidden;    
    
}

.project-box:hover{
    cursor: pointer;
}

.project-box img{
    width: 100%;
    height: 35vh;
    
    
}



/* mobile responsive for projects */
@media screen and (max-device-width:480px) {
    .project_section .container h2{
        width: 23vw;
        

    }

    .project-box-container{
        display: block;
    }

    .project-box{
        width: 100%;
        height: 40vh;
    }

}



@media screen and (max-device-width:768px) {
    .project_section h2{
        width: 20vw;

    }

    .project-box-container{
        display: block;
    }

    .project-box{
        width: 100%;
        height: 40vh;
    }

}












/* styling the footer section */
.bottom{
    position: relative;
    bottom: 0%;
    background-color: rgb(243, 12, 51);
    height: 5vh;
}